#analyzerTable {
  width: 100%;
  margin-top: 10px;
}

#analyzerTable td,
#analyzerTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#analyzerTable tr:hover {
  background-color: #00000073;
}

#analyzerTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


/* make table responsive  */


