.wrapper {
  width: 800px;
  background: transparent;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  background: salmon;
  margin: 30px 0;
  background: transparent;
  position: relative;
}

.input-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

input::file-selector-button {
  display: none;
}

/* hide no file content  */




.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .btn {}

.danger-box {
  width: 100%;
  height: 45px;
  background: red;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  padding-left: 10px;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}


.load-table-box {
  height: auto;
  max-height: 200px;
  overflow-y: scroll;

}

.load-table-box table {
  width: 100%;
  overflow-y: scroll;
}





.action-wrapper {
  display: flex;
  justify-content: space-around;
}

.action-wrapper .btn {
  width: 40%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 30px 6px;
  position: relative;
}

.action-wrapper .btn-danger {
  background: red;
  color: #fff
}


.btn:hover {
  background: #333;
  color: #fff;
}

@media (max-width:1024px) {
  .wrapper {
    width: 70%;
    padding: 10px 25px;
    margin: 0 auto;
  }

}

@media (max-width: 768px) {
  .wrapper {
    width: 70%;
    padding: 10px 25px;
    margin: 0 auto;
  }

}

@media (max-width: 480px) {
  .wrapper {
    width: 360px;
    padding: 10px 25px;
    margin: 0 auto;
  }
}
@media (max-width: 280px) {
  .wrapper {
    width: 260px;
    padding: 10px 25px;
    margin: 0 auto;
  }
}
